@import "~bootstrap/scss/bootstrap.scss";
.oculOAP{
     cursor: pointer;
        display: none;
}
.liS:hover{
    .oculOAP{
        display: block;
    }
} 
.fondoNavYfot{
    background: #000000;
}
